#rightpane {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
#leftpane {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
#tree1 {
    display: block;
}
#savechanges {
    display: block;
}
#categoryquestion {
    display: none;
    width: 100%;
}
#levelbox {
    border: 1px solid black;
}
#elementbox {
    border: 1px solid black;
    margin-top: 3em;
}
#newnode {
    border-bottom: 1px solid black;
}

#fielddiv {
    display: none;
}

#categorydiv {
    display: none;
}

.centerform {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}

#categoryoptions {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fieldform {
    display: none;
}

.field {
    font-style: italic;
}

.category {
    font-weight: bold;
}

.ancestor {
    position: relative;
    z-index: 100;
}

.ancestors {
    pointer-events:none;
}

#categorydiv {
    pointer-events:none;
}
